<div class="login-container mat-elevation-z4">
  <form (ngSubmit)="login()" class="login-form">
    <h2>Iniciar Sesión</h2>

    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput [(ngModel)]="user.username" name="username" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="user.password"
        name="password"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Ingresar</button>

    <mat-error *ngIf="error">Credenciales incorrectas</mat-error>
  </form>
</div>
